button[type="submit"]{
  all: unset;
  cursor: pointer;
  border-radius: 12px;
  background-color: var(--color-brand);

  width: 100%;
  height: 44px;
  text-align: center;

  color: var(--always-white);
  font: var(--fw-lg) var(--fs-mid)/20px var(--ff-inter);

  transition: background-color 300ms;

  &:hover{
    background-color: var(--color-brand-hover);
  }
}

button[type="button"].delete-item{
  padding: .5rem;
  background-color: var(--bg-secondary);
  cursor: pointer;
  border: none;
}