#check-lists{
  margin-top: 2rem;
  display: grid;
  gap: .75rem;

  & .list{
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: .5rem;


    & .flex{      
      align-items: center;
      gap: 12px;
      
      & .item-name{
        font: var(--fw-lg) var(--fs-mid)/24px var(--ff-inter);
        color: var(--content-secondary);
      }
    }

  }
  
}




