@import url(fields/index.css);

form{
  & .title{
    display: block;
    margin-block: 1rem 2.75rem;
    font: var(--fw-xl) var(--fs-xl)/2rem var(--ff-inter);
  }

  & span{
    display: inline-block;
    margin-top: 1rem;
    font: var(--fw-xl) var(--fs-xs) var(--ff-inter);
    margin-left: .25rem;
    color: var(--color-brand-hover);
  }
}