*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* bg */
  --bg-primary: #F4F5FB;
  --bg-secondary: #FFF;

  /* color */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* content */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --always-white: #fff;

  /* border */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0 ;

  /* font */
  --ff-inter: "Inter", sans-serif;
  --fw-xl: 700;
  --fw-mid: 500;
  --fw-lg: 600;
  --fs-xl: 1.5rem;
  --fs-mid: 1rem;
  --fs-sm: .875rem;
}

/* body{
  background-color: #A52C6B;
} */
