
.flex{
  display: flex;
}

.space{
  justify-content: space-between;
  align-items: center;
}

.grid{
  display: grid;
}

.gap-1rem{
  gap: 1rem;
}

.container{
  width: min(24em, 100% - 2rem*2);
  margin-inline: auto;
  padding-block: 32px;
}

.desktop-only{
  display: none;
}


@media (width >= 80em){

  .container{
    max-width: 39em;
    width: 100%;
  }

  .desktop-only{
    display: block;
  }

  .desktop-cols{
    grid-template-columns: 2fr 1fr;
  }
}